*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  background-color: #fafafa;
}

.types .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #fff;
  opacity: 1;
  transition: all 0.3s ease;
}

.types .swiper-pagination-bullet-active {
  opacity: 1;
  width: 32px;
  border-radius: 6px;
  background: linear-gradient(45deg, #b26a00, #ffac33);
}

.types .swiper-button-next,
.types .swiper-button-prev {
  color: #ff9800;
}

.types .swiper-button-next:hover,
.types .swiper-button-prev:hover {
  color: #b26a00;
}
