spring:
  application:
    name: hrs

  profiles:
    active: dev

  data:
    mongodb:
      auto-index-creation: true
      uuid-representation: standard

server:
  port: 8080
  servlet:
    context-path: /api
