name: Build App

on:
  push:
    branches: [ main, develop, feature/user ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      GH_CLIENT_SECRET: ${{ secrets.GH_CLIENT_SECRET }}
      GOOGLE_CLIENT_SECRET: ${{ secrets.GOOGLE_CLIENT_SECRET }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      - name: Build with Maven
        run: ./mvnw clean verify
